.navbar-brand img{
    height: 2.5rem;
    display: inline-block;
    margin-right: 10px;
}

.nav-link{
    cursor: pointer;
}

.navbar-nav *{
    transition: all 0.15s ease-in;
}


.navbar-nav li:hover{
    filter: drop-shadow(0 0 10px white);
}

.navbar-nav .nav-item:hover i{
    color: yellow;
}

.item-active{
    font-weight: bold;
    filter: drop-shadow(0 0 10px #3700ff);
}

.item-active i{
    color: #00d300;
}

@media (max-width:1000px) {
    .navbar-nav li{
        border-bottom: 1px white solid;
    }
}